<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
      <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">


        <li class=" navigation-header"><span data-i18n="nav.category.forms">Calificaciones</span><i class="la la-ellipsis-h ft-minus" data-toggle="tooltip" data-placement="right" data-original-title="Afiliación"></i>
        </li>
        <li class=" nav-item"><a href="registro_cliente"><i class="la la-terminal"></i><span class="menu-title" data-i18n="nav.form_elements.main">Registro</span></a>
        </li>
        <li class=" nav-item"><a href="edicion_clientes"><i class="la la-table"></i><span class="menu-title" data-i18n="nav.bootstrap_tables.main">Edición</span></a>
        </li>

      </ul>
    </div>
  </div>
