<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">
        <div class="row breadcrumbs-top d-inline-block">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item active">Productos
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <h1 class="card-title" id="basic-layout-form-center">Productos y Servicios</h1>
    <div class="form-group">
      <a class="btn btn-primary" href="agregar_productos.html" role="button"><i class="ft-plus"></i>Nuevo</a>
    </div>
    <div class="content-body">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Productos</h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-content collapse show">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Clave Sat</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Unidad Medida</th>
                            <th scope="col">Operación</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>12161601</td>
                            <td>Catalizadores ácidos</td>
                            <td>$250</td>
                            <td>Litro</td>
                            <td><a class="btn btn-primary" href="agregar_productos.html" role="button"><i class="la la-edit"></i>Modificar</a>
                              <button type="button" class="btn btn-danger"><i class="la la-trash"></i>Eliminar</button></td>
                          </tr>
                          <tr>
                            <td>42152449</td>
                            <td>Catalizadores de uso odontológico</td>
                            <td>$300</td>
                            <td>Caja</td>
                            <td><a class="btn btn-primary" href="agregar_productos.html" role="button"><i class="la la-edit"></i>Modificar</a>
                              <button type="button" class="btn btn-danger"><i class="la la-trash"></i>Eliminar</button></td>
                          </tr>
                          <tr>
                            <td>12161601</td>
                            <td>Catalizadores ácidos</td>
                            <td>$25</td>
                            <td>Piezas</td>
                            <td><a class="btn btn-primary" href="agregar_productos.html" role="button"><i class="la la-edit"></i>Modificar</a>
                              <button type="button" class="btn btn-danger"><i class="la la-trash"></i>Eliminar</button></td>
                          </tr>
                          <tr>
                            <td>12161606</td>
                            <td>Catalizadores reformadores</td>
                            <td>$258</td>
                            <td>Bolsa</td>
                            <td><a class="btn btn-primary" href="agregar_productos.html" role="button"><i class="la la-edit"></i>Modificar</a>
                              <button type="button" class="btn btn-danger"><i class="la la-trash"></i>Eliminar</button></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>