  
      <div class="app-content content">
        <div class="content-wrapper">
          <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">
              <h3 class="content-header-title mb-0 d-inline-block">Facturar</h3>
            </div>
            <div class="content-header-right col-md-6 col-12">
            </div>
          </div>
          <div class="content-body"><!-- Basic form layout section start -->
  <section id="basic-form-layouts">
      <div class="row match-height">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title" id="basic-layout-form">Emisión de Factura</h4>
                      <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                      <div class="heading-elements">
                          <ul class="list-inline mb-0">
                              <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                              <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                              <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                              <li><a data-action="close"><i class="ft-x"></i></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="card-content collapse show">
                      <div class="card-body">
                          <form class="form">
                              <div class="form-body">
  
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="projectinput3">Empresa:</label>
                                              <input type="text" id="projectinput3" class="form-control" placeholder="" name="email" value="Nuestro Cliente 123 SA de CV" disabled>
                                          </div>
                                      </div>
                                      
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="projectinput6">RFC:</label>
                                              <input type="text" id="projectinput3" class="form-control" placeholder="" name="email" value="BORS841210NM3" disabled>
                                          </div>
                                      </div>
                                      
                                      
                                  </div>
                                  
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="projectinput3">Fecha</label>
                                              <input type="text" id="projectinput3" class="form-control" placeholder="" name="email" value="27-04-2020" disabled>
                                          </div>
                                      </div>
                                      
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="projectinput6">Formato:</label>
                                              <select id="projectinput6" name="budget" class="form-control">
                                                  <option value="less than 5000$">Carta</option>
                                                  <option value="5000$ - 10000$">Ticket</option>
                                              </select>
                                          </div>
                                      </div>
                                      
                                      
                                  </div>
                                  
                                  <h4 class="form-section"><i class="ft-user"></i> Datos generales</h4>
  
                                  <div class="form-group">
                                      <label for="companyName">Razón Social:
                                          <span class="danger">*</span></label>
                                      <input type="text" id="companyName" class="form-control" placeholder="Razón Social" name="company" value="Grupo Carso SA de CV">
                                  </div>
                                  
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="projectinput1">RFC:
                                          <span class="danger">*</span></label>
                                              <input type="text" id="projectinput1" class="form-control" placeholder="RFC" name="fname" value="RASP910325T97">
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="projectinput2">Correo:
                                          <span class="danger">*</span></label>
                                              <input type="text" id="projectinput2" class="form-control" placeholder="Correo" name="lname" value="admin@grupo.carso.com">
                                          </div>
                                      </div>
                                  </div>
  
                                  <h4 class="form-section"><i class="la la-paperclip"></i> Producto/Servicio</h4>
  
                                  <div class="form-group">
                                      <label for="companyName">Nombre del producto/servicio:</label>
                                      <input type="text" id="companyName" class="form-control" placeholder="Nombre" name="company" value="Sujetadores">
                                  </div>
                                  
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="projectinput1">Unidad Medida:</label>
                                              <input type="text" id="projectinput1" class="form-control" placeholder="" name="fname" value="Pieza" disabled>
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="projectinput2">Precio:</label>
                                              <input type="text" id="projectinput2" class="form-control" placeholder="" name="lname" value="$123.00" disabled>
                                          </div>
                                      </div>
                                  </div>
                                  
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="projectinput1">Cantidad</label>
                                              <input type="text" id="projectinput1" class="form-control" placeholder="" name="fname" value="15">
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                              <button style="margin-top: 25px; width: 100%" type="submit" class="btn btn-primary">
                                                  <i class="la la-plus"></i>Agregar
                                              </button>
                                      </div>
                                  </div>
  
                                  
                                  <div class="row" style="margin-top: 20px;">
                                      <div class="table-responsive">
                                          <table class="table">                   <thead class="thead-dark">
                                                  <tr>
                                                      <th>Clave</th>
                                                      <th>Descripción</th>
                                                      <th>Cantidad</th>
                                                      <th>Precio</th>
                                                      <th>Importe</th>
                                                      <th></th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr>
                                                      <td>101010 </td>
                                                      <td>Sujetadores 1</td>
                                                      <td>2</td>
                                                      <td>$123.00</td>
                                                      <td>$246.00</td>
                                                      <td><button type="button" class="btn btn-warning mr-1">
                                      <i class="ft-x"></i></button></td>
                                                  </tr>
                                                  <tr>
                                                      <td>201010 </td>
                                                      <td>Sujetadores 2</td>
                                                      <td>3</td>
                                                      <td>$120.00</td>
                                                      <td>$360.00</td>
                                                      <td><button type="button" class="btn btn-warning mr-1">
                                      <i class="ft-x"></i></button></td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                                  
  
                                  <div class="row">
                                      <div class="col-md-6">
                                      </div>
                                      <div class="col-md-6">
                                          
                                              <label for="projectinput1">Subtotal:</label>
                                              <input type="text" id="projectinput1" class="form-control" placeholder="" name="fname" value="$606.00" disabled>
                                          
                                      </div>
                                  </div>                                
                                  
                                  <div class="row">
                                      <div class="col-md-6">
                                      </div>
                                      <div class="col-md-6">
                                          
                                              <label for="projectinput1">IVA:</label>
                                              <input type="text" id="projectinput1" class="form-control" placeholder="" name="fname" value="$96.96" disabled>
                                          
                                      </div>
                                  </div>                                
                                  
                                  <div class="row">
                                      <div class="col-md-6">
                                      </div>
                                      <div class="col-md-6">
                                          
                                              <label for="projectinput1">Total:</label>
                                              <input type="text" id="projectinput1" class="form-control" placeholder="" name="fname" value="$702.96" disabled>
                                          
                                      </div>
                                  </div>                                
                                  
                                  <h4 class="form-section"><i class="ft-user"></i> Catalogos</h4>
  
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="projectinput6">Forma:</label>
                                              <select id="projectinput6" name="budget" class="form-control">
                                                  <option value="1">Pago una sola exhibición</option>
                                                  <option value="5000$ - 10000$">Ticket</option>
                                              </select>
                                          </div>
                                      </div>
                                      
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="projectinput6">Método:</label>
                                              <select id="projectinput6" name="budget" class="form-control">
                                                  <option value="1">01 - Efectivo</option>
                                                  <option value="5000$ - 10000$">Ticket</option>
                                              </select>
                                          </div>
                                      </div>
                                      
                                  </div>
  
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="projectinput6">Moneda:</label>
                                              <select id="projectinput6" name="budget" class="form-control">
                                                  <option value="1">MXN</option>
                                                  <option value="5000$ - 10000$">Ticket</option>
                                              </select>
                                          </div>
                                      </div>
                                      
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="projectinput1">TC:</label>
                                              <input type="text" id="projectinput1" class="form-control" placeholder="" name="fname" value="1">
                                          </div>
                                      </div>
                                      
                                  </div>
  
                                  <div class="row">
                                  
                                      <div class="col-md-12">
                                          <div class="form-group">
                                              <label for="projectinput6">Condiciones:</label>
                                              <select id="projectinput12" name="budget" class="form-control">
                                                  <option value="1">Contado</option>
                                                  <option value="5000$ - 10000$">Ticket</option>
                                              </select>
                                          </div>
                                      </div>
                                      
                                  </div>
  
  
                                  
                              </div>
  
                              <div class="form-actions">
                                  <button type="button" class="btn btn-warning mr-1">
                                      <i class="ft-x"></i> Cancelar
                                  </button>
                                  <button type="submit" class="btn btn-primary">
                                      <i class="la la-check-square-o"></i> Guardar
                                  </button>
                              </div>
                              
                          </form>
                      </div>
                  </div>
              </div>
          </div>
  
      </div>
  
  
  
  </section>
  <!-- // Basic form layout section end -->
          </div>
        </div>
      </div>
  
  
